

body{
    background-color: #CCA173;
}

main{
    background-image: url('./content/achtergrond.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    height: 100vh;
   
   
}

h1{
    font-size: 3em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

section:first-of-type{
    display: grid;
    place-items: center;
}

svg{
    width: 70%;

}

section:nth-of-type(2),
section:nth-of-type(3),
section:nth-of-type(4) {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    
    cursor: pointer;
}

section:nth-of-type(3),
section:nth-of-type(4){
    display: none;
}

section:nth-of-type(5),
section:nth-of-type(6){

    justify-content: center;
    font-size: 2em;
    display: none;
}


img{
    width: 30%;
}


/* tshirt css */
#shirt{
    fill:rgb(92,92,92);
}

/* Anpassen kleur shirt */

.navy-shirt-click {
    fill: navy;
}
.beige-shirt-click {
    fill: beige;
}
.groen-shirt-click {
    fill: green;
}

